{% extends 'default/base.html.twig' %}

{% block body %}
    <h1>Wedstrijdindeling</h1>
    {% if tijdSchema%}
        <h4 id="contact">» Overzicht</h4>
        <p>
            Het volledige schema kan
            <a href="/uploads/tijdSchema/tijdSchema.pdf" target="_blank">
                hier</a> worden ingezien.
        </p>
    {% endif %}
    {% for dag in dagen %}
        <h4 id="contact">» {{ dag }}</h4>
        <table class="wedstrijdindeling">
            {% for wedstrijdronde in wedstrijden[dag] %}
                <tr>
                    <td><a href="{{ path('wedstrijdindelingPdf', {'wedstrijdRondeId': wedstrijdronde.id}) }}" target="_blank">Wedstrijd {{ wedstrijdronde.ronde }} Baan {{ wedstrijdronde.baan }}: {{ wedstrijdronde.startTijd | date('H:i') }}
                            - {{ wedstrijdronde.eindTijd | date('H:i') }}</a>
                    </td>
                    <td>
                        {% for teamSoort in wedstrijdronde.teamSoorten %}
                            {{ teamSoort.categorie }} {{ teamSoort.niveau }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    {% if juryIndeling %}
        <h4 id="contact">» Jury indeling</h4>
        <p>
            De jury indeling kan
            <a href="/uploads/juryIndeling/{{ juryIndeling.locatie }}" target="_blank">
                hier</a> worden ingezien.
        </p>
    {% endif %}
    {% endblock %}
