{% extends 'admin/base.html.twig' %}

{% block body %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% if wijzigenTeamToegestaan %}
        <div id="inschrijven">
            <a href="{{ path('addTeam') }}">Team toevoegen &#187;</a>
        </div>
    {% endif %}
    {% if wijzigJuryToegestaan %}
        <div id="add_jury">
            <a href="{{ path('addJury') }}">Jurylid toevoegen &#187;</a>
        </div>
    {% endif %}

    <h1>Uw gegevens</h1>
    <br/>
    <i>Wil je je contactgegevens bewerken? Dat is heel simpel, je hoeft er alleen maar op te klikken!</i>

    <h4>&#187; Vereniging</h4>
    <table class="controle_tabel">
        <tr>
            <td>
                {{ user.vereniging.naam }} {{ user.vereniging.plaats }}
            </td>
        </tr>
    </table>

    <h4>&#187; Contactpersoon</h4>
    <table class="aanpas_tabel">
        <tr>
            <td>Gebruikersnaam:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Voornaam:</td>
            <td><span id="voornaam" class="edit">{{ user.voornaam }}</span></td>
        </tr>
        <tr>
            <td>Achternaam:</td>
            <td><span id="achternaam" class="edit">{{ user.achternaam }}</span></td>
        </tr>
        <tr>
            <td>E-mailadres:</td>
            <td><span id="email" class="edit">{{ user.email }}</span></td>
        </tr>
        <tr>
            <td>Telefoonnummer:</td>
            <td><span id="telefoonnummer" class="edit">{{ user.telefoonnummer }}</span></td>
        </tr>
        <tr>
            <td>Wachtwoord:</td>
            <td><a href="{{ path('editContactPassword') }}">Wijzigen</a></td>
        </tr>
    </table>

    {% if factuurBekijkenToegestaan %}
        <a href="{{ path('pdfFactuur') }}" id="{{ factuurId }}" target="_blank">&#187; Factuur downloaden</a>
    {% endif %}
    {#<a href="{{ path('contactpersoonUitslagen') }}" id="indeling" target="_blank">&#187; Uitslagen downloaden</a>#}

    <h4>&#187; Teams ({{ user.teams.count - wachtlijstAantal - afgemeldAantal }})</h4>
    <p>
        <i>Je kunt de naam van je team wijzigen door erop te klikken!</i>
    </p>
    {% for team in user.teams %}
        {% if team.wachtlijst == 0 and team.afgemeld != 1 %}
            <h3><span id="team_naam_{{ team.id }}" class="editTeamNaam">
                {%- if team.name -%}
                    {{ team.name }}
                {%- else -%}
                    Naamloos team
                {%- endif -%}
                    </span>:
                {% for teamSoort in team.wedstrijdRonde.teamSoorten %}
                    {{ teamSoort.categorie }} {{ teamSoort.niveau }}
                    {% if not loop.last -%}
                        /
                    {%- endif -%}
                {% endfor %}
                ,
                {{ team.wedstrijdRonde.dag }} {{ team.wedstrijdRonde.startTijd | date('d-m-Y') }},
                {{ team.wedstrijdRonde.startTijd | date('H:i') }}
                - {{ team.wedstrijdRonde.eindTijd | date('H:i') }}
                {% if wijzigenTeamToegestaan %}
                    <a href="{{ path('editTeam', { 'teamId': team.id }) }}"
                       style="text-decoration: none">
                        <img src="{{ asset('images/edit.png') }}">
                    </a>
                {% endif %}
                <form method="post" name="remove_team_{{ team.id }}"
                      action="{{ path('removeTeam') }}" style="display: inline;">
                    <div class="fake_link" onclick="remove_team('{{ team.id }}',
                            '{{ team.name }}')" style="display: inline">
                        <img src="{{ asset('images/remove.png') }}" width="15"/>
                        <input type="hidden" name="teamId" value="{{ team.id }}"/>
                    </div>
                </form>
            </h3>
            <table id="deelnemers">
                <tr>
                    <th width="20">
                        #
                    </th>
                    <th>
                        Voornaam
                    </th>
                    <th>
                        Achternaam
                    </th>
                    <th>
                        Cat.
                    </th>
                    <th>
                        Niv.
                    </th>
                    <th>
                        Nr.
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
                {% for turnster in team.turnsters %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{ turnster.voornaam }}
                        </td>
                        <td>
                            {{ turnster.achternaam }}
                        </td>
                        <td>
                            {{ turnster.categorie }}
                        </td>
                        <td>
                            {{ turnster.niveau }}
                        </td>
                        <td>
                            {{ turnster.scores.wedstrijdnummer }}
                        </td>
                        <td>
                            {% if uploadenVloermuziekToegestaan and turnster.keuze and turnster.voornaam != 'leeg' and turnster.achternaam != 'leeg' %}
                                {% if turnster.vloermuziek %}
                                    <a href="{{ path('addVloermuziek', { 'turnsterId': turnster.id }) }}"
                                       style="text-decoration: none">
                                        <img src="{{ asset('images/refresh.png') }}" height="18">
                                    </a>
                                {% else %}
                                    <a href="{{ path('addVloermuziek', { 'turnsterId': turnster.id }) }}"
                                       style="text-decoration: none">
                                        <img src="{{ asset('images/upload.png') }}" height="18">
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if turnster.vloermuziek %}
                                <a href="{{ asset(turnster.vloermuziek.webPath) }}" target="_blank">
                                    <img src="{{ asset('images/listen.png') }}" height="18">
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if wijzigenTeamToegestaan and turnster.voornaam != 'leeg' and turnster.achternaam != 'leeg' %}
                                <form method="post" name="remove_turnster_{{ turnster.id }}"
                                      action="{{ path('removeTurnsterData') }}" style="display: inline;">
                                    <div class="fake_link" onclick="remove_turnster_data('{{ turnster.id }}',
                                            '{{ turnster.voornaam }} {{ turnster.achternaam }}')"
                                         style="display: inline">
                                        <img src="{{ asset('images/remove.png') }}" width="15"/>
                                        <input type="hidden" name="turnsterId" value="{{ turnster.id }}"/>
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
            <br/>
        {% endif %}
    {% endfor %}

    <table>
        <tr>
            {% if uploadenVloermuziekToegestaan %}
                <td><img src="{{ asset('images/upload.png') }}" height="18"></td>
                <td>Muziek uploaden</td>
            {% endif %}
            {% if wijzigenTeamToegestaan %}
                <td><img src="{{ asset('images/edit.png') }}"></td>
                <td>Team bewerken</td>
            {% endif %}
        </tr>
        <tr>
            {% if uploadenVloermuziekToegestaan %}
                <td><img src="{{ asset('images/listen.png') }}" height="18"></td>
                <td>Muziek beluisteren</td>
            {% endif %}
            <td><img src="{{ asset('images/remove.png') }}" width="15"/></td>
            <td>Team afmelden</td>
        </tr>
        <tr>
            {% if uploadenVloermuziekToegestaan %}
                <td><img src="{{ asset('images/refresh.png') }}" width="15"/></td>
                <td>Muziek opnieuw uploaden</td>
            {% endif %}
        </tr>
    </table>


    <h4>&#187; Wachtlijst ({{ wachtlijstAantal }})</h4>
    {% for team in user.teams %}
        {% if team.wachtlijst == 1 %}
            <h3><span id="team_naam_{{ team.id }}" class="editTeamNaam">
                {% if team.name %}
                    {{ team.name }}
                {% else %}
                    Naamloos team
                {% endif %}
                    </span>
                :
                {% for teamSoort in team.wedstrijdRonde.teamSoorten %}
                    {{ teamSoort.categorie }} {{ teamSoort.niveau }}
                    {% if not loop.last -%}
                        /
                    {%- endif -%}
                {% endfor %}
                ,
                {{ team.wedstrijdRonde.dag }} {{ team.wedstrijdRonde.startTijd | date('d-m-Y') }},
                {{ team.wedstrijdRonde.startTijd | date('H:i') }}
                - {{ team.wedstrijdRonde.eindTijd | date('H:i') }}
                {% if wijzigenTeamToegestaan %}
                    {#<a href="{{ path('editTeam', { 'teamId': team.id }) }}"#}
                    {#style="text-decoration: none">#}
                    <img src="{{ asset('images/edit.png') }}">
                    {#</a>#}
                {% endif %}
                <form method="post" name="remove_team_{{ team.id }}"
                      action="{{ path('removeTeam') }}" style="display: inline;">
                    <div class="fake_link" onclick="remove_team('{{ team.id }}',
                            '{{ team.name }}')" style="display: inline">
                        <img src="{{ asset('images/remove.png') }}" width="15"/>
                        <input type="hidden" name="teamId" value="{{ team.id }}"/>
                    </div>
                </form>
            </h3>
            <table id="wachtlijst">
                <tr>
                    <th width="20">
                        #
                    </th>
                    <th>
                        Voornaam
                    </th>
                    <th>
                        Achternaam
                    </th>
                    <th>
                        Cat.
                    </th>
                    <th>
                        Niv.
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
                {% for turnster in team.turnsters %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{ turnster.voornaam }}
                        </td>
                        <td>
                            {{ turnster.achternaam }}
                        </td>
                        <td>
                            {{ turnster.categorie }}
                        </td>
                        <td>
                            {{ turnster.niveau }}
                        </td>
                        <td>
                            {% if uploadenVloermuziekToegestaan and turnster.keuze and turnster.voornaam != 'leeg' and turnster.achternaam != 'leeg' %}
                                {% if turnster.vloermuziek %}
                                    <a href="{{ path('addVloermuziek', { 'turnsterId': turnster.id }) }}"
                                       style="text-decoration: none">
                                        <img src="{{ asset('images/refresh.png') }}" height="18">
                                    </a>
                                {% else %}
                                    <a href="{{ path('addVloermuziek', { 'turnsterId': turnster.id }) }}"
                                       style="text-decoration: none">
                                        <img src="{{ asset('images/upload.png') }}" height="18">
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if turnster.vloermuziek %}
                                <a href="{{ asset(turnster.vloermuziek.webPath) }}" target="_blank">
                                    <img src="{{ asset('images/listen.png') }}" height="18">
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if wijzigenTeamToegestaan and turnster.voornaam != 'leeg' and turnster.achternaam != 'leeg' %}
                                <form method="post" name="remove_turnster_{{ turnster.id }}"
                                      action="{{ path('removeTurnsterData') }}" style="display: inline;">
                                    <div class="fake_link" onclick="remove_turnster_data('{{ turnster.id }}',
                                            '{{ turnster.voornaam }} {{ turnster.achternaam }}')"
                                         style="display: inline">
                                        <img src="{{ asset('images/remove.png') }}" width="15"/>
                                        <input type="hidden" name="turnsterId" value="{{ turnster.id }}"/>
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
            <br/>
        {% endif %}
    {% endfor %}

    <table>
        <tr>
            {% if wijzigenTeamToegestaan %}
                <td><img src="{{ asset('images/edit.png') }}"></td>
                <td>Team bewerken</td>
            {% endif %}
        </tr>
        <tr>
            <td><img src="{{ asset('images/remove.png') }}" width="15"/></td>
            <td>Team afmelden</td>
        </tr>
    </table>

    <h4>&#187; Juryleden ({{ user.jurylid.count }})</h4>
    <table id="juryleden">
        <tr>
            <th width="20">
                #
            </th>
            <th>
                Voornaam
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Opmerking
            </th>
            <th>
                Brevet
            </th>
            <th>
                Dag
            </th>
            <th>

            </th>
        </tr>
        {% for jurylid in user.jurylid %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ jurylid.voornaam }}
                </td>
                <td>
                    {{ jurylid.achternaam }}
                </td>
                <td>
                    {{ jurylid.opmerking }}
                </td>
                <td>
                    {{ jurylid.brevet }}
                </td>
                <td>{% if not jurylid.zaterdag and not jurylid.zondag %}
                        Geen
                    {% else %}
                        {% if jurylid.zaterdag %}Za{% endif %}
                        {% if jurylid.zondag %}Zo{% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if wijzigJuryToegestaan %}
                        <a href="{{ path('editJury', { 'juryId': jurylid.id }) }}" style="text-decoration: none">
                            <img src="{{ asset('images/edit.png') }}">
                        </a>
                    {% endif %}
                    {% if verwijderJuryToegestaan %}
                        <form method="post" name="remove_jury_{{ jurylid.id }}"
                              action="{{ path('removeJury') }}" style="display: inline;">
                            <div class="fake_link" onclick="remove_jury('{{ jurylid.id }}',
                                    '{{ jurylid.voornaam }}', '{{ jurylid.achternaam }}')"
                                 style="display: inline">
                                <img src="{{ asset('images/remove.png') }}" width="15"/>
                                <input type="hidden" name="juryId" value="{{ jurylid.id }}"/>
                            </div>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <table>
        <tr>
            {% if wijzigJuryToegestaan %}
                <td><img src="{{ asset('images/edit.png') }}"></td>
                <td>Jurylid bewerken</td>
            {% endif %}
        </tr>
        <tr>
            {% if verwijderJuryToegestaan %}
                <td><img src="{{ asset('images/remove.png') }}" width="15"/></td>
                <td>Jurylid afmelden</td>
            {% endif %}
        </tr>
    </table>

    <h4>&#187; Afmeldingen ({{ afgemeldAantal }})</h4>
    {% for team in user.teams %}
        {% if team.afgemeld == 1 %}
            <h3><span id="team_naam_{{ team.id }}">
                {% if team.name %}
                    {{ team.name }}
                {% else %}
                    Naamloos team
                {% endif %}
                    </span>
            </h3>
            <table id="wachtlijst">
                <tr>
                    <th width="20">
                        #
                    </th>
                    <th>
                        Voornaam
                    </th>
                    <th>
                        Achternaam
                    </th>
                    <th>
                        Cat.
                    </th>
                    <th>
                        Niv.
                    </th>
                </tr>
                {% for turnster in team.turnsters %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{ turnster.voornaam }}
                        </td>
                        <td>
                            {{ turnster.achternaam }}
                        </td>
                        <td>
                            {{ turnster.categorie }}
                        </td>
                        <td>
                            {{ turnster.niveau }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
            <br/>
        {% endif %}
    {% endfor %}

    <h4 id="contact">&#187; Contact</h4>
    Problemen? Stuur een mail naar de betreffende afdeling:<br/>
    <br/>
    <li><a href="mailto:jury@donarteamcup.nl">jury@donarteamcup.nl</a></li>
    <li><a href="mailto:webmaster@donarteamcup.nl">webmaster@donarteamcup.nl</a></li>
    <br/>
    Bij algemene vragen, of bij twijfel, mail dan naar:
    <br/>
    <li><a href="mailto:info@donarteamcup.nl">info@donarteamcup.nl</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/EditFieldByClicking.js') }}"></script>
    <script>

        $('.edit').click(function () {
            var data = $(this).text();
            var fieldName = this.id;
            onClick(data, fieldName, 'text');
        });
        //
        $(document).on('blur keypress', '.txt_edit', function (e) {
            if (e.type === 'keypress' && e.keyCode !== 13) return;
            var data = $(this).val();
            var fieldName = this.id.replace('txt_', '');
            onChange(data, fieldName, 'editGegevens');
        });

        $('.editTeamNaam').click(function () {
            var data = $(this).text().trim();
            if (data === 'Naamloos team') {
                data = '';
            }
            var id = this.id;
            onClickTeamName(data, id, 'text');
        });
        //
        $(document).on('blur keypress', '.txt_edit_teamname', function (e) {
            if (e.type === 'keypress' && e.keyCode !== 13) return;
            var newName = $(this).val();
            var id = this.id.replace('txt_team_naam_', '');
            onChangeTeamName(id, newName);
        });

        //
        function remove_team(id, naam) {
            if (confirm("Weet je zeker dat je team '" + naam + "' wilt afmelden?")) {
                document.forms["remove_team_" + id].submit();
            }
        }

        function remove_turnster_data(id, naam) {
            if (confirm("Weet je zeker dat je turnster '" + naam + "' wilt afmelden?")) {
                document.forms["remove_turnster_" + id].submit();
            }
        }

        //
        function remove_jury(id, voornaam, achternaam) {
            if (confirm("Weet je zeker dat je " + voornaam + " " + achternaam + " wilt afmelden?")) {
                document.forms["remove_jury_" + id].submit();
            }
        }

        //
    </script>
{% endblock %}
