{% extends 'uitslagen/base.html.twig' %}

{% block body %}
    <div id="uitslagen_index">
        <h1>Zaterdag</h1>
        <table>
            {% for wedstrijd in wedstrijden %}
                <tr>
                    {% if wedstrijd.dag == 'Zaterdag' %}
                        <td>
                            <div id="categorie">Wedstrijd {{ wedstrijd.ronde }} Baan {{ wedstrijd.baan }}</div>
                        </td>
                        {% for teamSoort in wedstrijd.teamSoorten %}
                            {% if teamSoort.uitslagGepubliceerd or is_granted('ROLE_ORGANISATIE') %}
                            <td>
                                <a href="{{ path('uitslagen', { 'wedstrijdRondeId': wedstrijd.id, 'teamSoortId': teamSoort.id } ) }}">
                                    {{ teamSoort.categorie }} {{ teamSoort.niveau }}
                                </a>
                            </td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        <h1>Zondag</h1>
        <table>
            {% for wedstrijd in wedstrijden %}
                <tr>
                    {% if wedstrijd.dag == 'Zondag' %}
                        <td>
                            <div id="categorie">Wedstrijd {{ wedstrijd.ronde }} Baan {{ wedstrijd.baan }}</div>
                        </td>
                        {% for teamSoort in wedstrijd.teamSoorten %}
                            {% if teamSoort.uitslagGepubliceerd or is_granted('ROLE_ORGANISATIE') %}
                            <td>
                                <a href="{{ path('uitslagen', { 'wedstrijdRondeId': wedstrijd.id, 'teamSoortId': teamSoort.id } ) }}">
                                    {{ teamSoort.categorie }} {{ teamSoort.niveau }}
                                </a>
                            </td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
